:root {
    --comfort_light_brown: rgb(188, 143, 123);
    --comfort-green: rgb(57, 104, 117);
    --comfort-brown: rgb(199, 91, 54);
    --comfort-dark-gray: rgb(77, 77, 77);
    --comfort-light-gray: rgb(102, 102, 102);
}

a {
    color: inherit;
    text-decoration: inherit;
}

body{
    font-family: Ubuntu, "times new roman", times, roman, serif;
    background-color:lightgray;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*стрелочки в хроме*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number] {
    width: 35px;
    display:inline-block;
    vertical-align: middle;
    font-size:14px;
    font-weight:bold;
}


#navigation ul {
    background: white;
    width: 600px;
    height:60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#navigation ul li {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    color: var(--comfort-dark-gray);
    padding: 5px 15px;
}

table {
    margin-top:20px;
    margin-left: 10%;
    border-collapse: separate;
}

tbody{
    box-shadow: 10px 10px 5px grey;
}

th, td {
    padding: 2px 2px 0 0;
    background-color:white;
}


hr {
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.default-search-panel {
    position:relative;
    background-color: var(--comfort-green);
    width: auto;
    height: 50px;
}

.search-with-button-and-select {
    position: absolute;
    left:10%;
    top:10px;
}

.category-selector {
    display: inline-block;
    width: 140px;
    height: 30px;
    border-radius: 12px;
    font-size:16px;
    background-color: var(--comfort_light_brown);
    color: white;
}

.submit-search-button{
    display:inline-block;
    width:80px;
    height:30px;
    margin-left:5px;
    border-radius:12px;
    font-size:16px;
    color: white;
    background-color: var(--comfort_light_brown)
}

.search-form {
    width:480px;
    height:30px;
    padding-left:10px;
    display:inline-block;
    font-size:16px;
    margin-left:10px;
    border-radius:12px;
    color:var(--comfort-dark-gray);
}

.category-menu-item {
    width:360px;
    height:240px;
}

.category-list {
    position: relative;
    float: right;
    width:200px;
}

.subcategory-title {
    font-size: 16px;
    color:var(--comfort-light-gray)
}

.order-bin {
    height: 360px;
    width: 280px;
    position: absolute;
    right:160px;
    top: 10px;
    border-radius: 14px;
    background-color: white;
}

.order-bin-title {
    color: white;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--comfort_light_brown);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.order-bin-items{
    overflow-y: scroll;
    height:280px;
}

.order-bin-item{
    position:relative;
    padding:5px 2px 0 2px ;
}

.order-bin-item img {
    position: absolute;
    width: 40px;
    height: 40px;
}
.order-bin-item-title{
    display:inline-block;
    vertical-align: middle;
    padding:5px 5px 0 42px;
    width:100px;
    font-size:14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.order-bin-item-price{
    display:inline-block;
    vertical-align: middle;
    padding-left:5px;
    font-size:14px;
    font-weight: bold;
}

.submit-order {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    text-align: center;
    width:inherit;
}

.submit-order-button{
    background-color:var(--comfort-brown);
    border-radius:12px;
    height:30px;
    width: 120px;
    font-size:16px;
    color:white;
}



